.container {
    width: 100vw;
    background: linear-gradient(to right,#f5a49a,#0108d7);
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.profile {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.profile > img {
   border-radius: 50%;
}

.header {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.header > h1 {
    font-size: 3rem;
    color: #f5a49a;
    margin: 0;
}

.header > h2 {
    font-size: 3rem;
    color: #5ababd;
    margin: 0;
}

.whatsappButton {
    background-color: #64b060;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.whatsappButton > img {
    width: 20px;
    height: 20px;
}

.whatsappButton > span {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        background: linear-gradient(#0108d7, #f5a49a);
    }
    .profile {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .header > h2 {
        font-size: 2rem;
    }
    .whatsappButton {
        margin-top: 30px;
    }
}